body {
	background: #f5f5f5;
	margin: 0px;
	padding: 0px;
	align-content: center;
	align-items: center;
}

.header{
	background-color: #119950;
	width : 100%;
	height : 50px;
	color: white;
	display: flex; 
}

#topmenu a:link {
	padding-left: 15px;
	font-size: 18px;
	text-decoration: none;
	color: white;
}

#topmenu a:active {
	font-size: 18px;
	text-decoration: none;
	color: black;
}

#topmenu a:visited{
	font-size: 18px;
	text-decoration: none;
	color: white;	
}

#topmenu a:hover {
	font-size: 18px;
	color: #5ae33b;
}

#kotak1{
	background-color: #f5f5f5;
	width: 100%;
	height: 100%;
	padding-left: 40px;
}

#kotak2 {
	font-family: Bahnschrift;
	font-size: 14px;
	border: 4px outset #9c9c9c;
	border-radius: 10px;
	background-color: #f0f0f0;
	width: 95%;
	height: 100%;
}

#kotak3 {
	width: 70%;
	height: 100%;
}

#kotak4 {
	width: 80%;
	height: 500px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
}

p {
	font-size: 20px;
}

table {
	width: 70%;
	border-radius: 4px;
	border-collapse: collapse;
	color : black;
	background-color: white;
	border: 1px solid #a8a8a8;
}

table, th, td{
	padding: 8px 10px;
	font-size: 16px;
}

.input {
	width: 200px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid grey;
}

#btncari{
	width: 8%;
	height: 30px;
	background-color: #00c2b5;
	border: 1px solid #029c91;
	border-radius: 3px;
	font-size: 12px;
	font-family: Arial;
	color: white;
}

#btnlihat{
	width: 90%;
	height: 30px;
	background-color: #4a5cff;
	border: 1px solid #1930fc;
	border-radius: 3px;
	font-size: 12px;
	font-family: Arial;
	color: white;
}

#btnbayar{
	width: 50%;
	height: 30px;
	background-color: #00cc52;
	border: 1px solid #26e042;
	border-radius: 3px;
	font-size: 12px;
	font-family: Arial;
	color: white;
}

#btnbatal{
	width: 40%;
	height: 30px;
	background-color: #ff2b2b;
	border: 1px solid #f00000;
	border-radius: 3px;
	font-size: 12px;
	font-family: Arial;
	color: white;
}

#btncetak{
	width: 40%;
	height: 30px;
	background-color: #ffc72e;
	border: 1px solid #ffca2b;
	border-radius: 3px;
	font-size: 12px;
	font-family: Arial;
	color: white;
}
